<h1>Burgers</h1>

<h2>Eat the burgers!</h2>

<ul>
  {{#each burgers}}
    <li>
        Burger Name: {{this.burger_name}}
        Eaten? {{this.devoured}}
    </li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add burger</button>
</form>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    $(".create-form").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      name: $("#burger").val().trim(),
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>