body {
    background-color: #ffffed;
}

.jumbotron {
    background-color: #2B6CF0;
    color: white;
}

img {
    width: 300px;
    height: auto;
    border-radius: 4px;
}

.change-devoured {
    float: right;
}