/* burger app - /assets/css/burger_style.css */

body {
    background-color: #ffffed;
}

.jumbotron {
    background-color: #2B6CF0;
    color: white;
}

img {
    width: 300px;
    height: auto;
    border-radius: 4px;
}

.change-devoured, .delete-burger {
    float: right;
}